*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    line-height: 25px;
}
.body{
    background: url("./img/main.JPEG");
    color: #ffffff;
}
.container{
    width: 375px;
    margin: 0 auto;
    padding: 10px 15px;
}
.mainTitle{
    text-align: center
}
.text-20px{
    font-size: 24px;
}
.text-16px{
    font-size: 16px;
}
.helloText{
    padding: 15px 0;
    
    font-weight: 500;
}
.helloInnerText{
    padding-top: 10px ;
}
.list{
    background: #d4668794;
    border-radius: 15px;
    padding: 10px 20px;
}
.list_item{
    padding: 5px 10px;
}
.img{
    width: 300px;
    height: 300px;
    border-radius: 16px;
}
.helloText_block{
    border-radius: 15px;
    padding: 10px 20px;
    background: #d4668794;
}
.img-slider{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.textCourse{
    text-align: center;
    padding-top: 20px 
}
.smallTextCourse{
    text-align: center;
    padding-bottom: 20px;
}
.section{
    padding: 20px 0;
}
.sectionImg{
    padding: 20px 0;
    margin-top: -20px
}
.imgBlock{
    text-align: center;
}
.card{
    background: #d4668794;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 20px 0;
}
.cardTitle{
    padding: 10px 0;
}
.sublist{
    padding-bottom: 20px;
}
.price{
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    margin-top: 10px;
    text-align: right;
}
.btn{
    text-align: center;
    background: #b21049;
    border-radius: 20px;
    padding: 12px 0;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}
.allLi{
    padding: 5px 0;
}
.question{
    padding-bottom: 10px;
}
.btn2{
    text-align: center;
    background: #b21049;
    border-radius: 20px;
    padding: 12px 0;
    width: 150px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}
.btnBlock{
    display: flex;
    margin-bottom: 15px;
}
.slick-dots li button:before {
    font-size: 10px;
    color: #ffffff;
}

.slick-dots li.slick-active button:before {
    color: #ffffff;
}