*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #f1f1f1;
    line-height: 25px;
}
.body{
    background: url("./img/main.JPEG");
    color: #ffffff;
}
.container{
    width: 375px;
    margin: 0 auto;
    padding: 10px 15px;
}
.cross {
    position: relative;
    width: 40px; /* ширина крестика */
    height: 200px; /* высота крестика */
}

.line {
    position: absolute;
    background-color: #ffffff; /* цвет линии */
}

.horizontal {
    width: 200px; /* длина горизонтальной линии */
    height: 3px; /* толщина линии */
    top: 50%; /* вертикальное выравнивание по центру */
    left: 0;
    transform: translateY(-50%);
}

.vertical {
    width: 3px; /* толщина линии */
    height: 200px; /* длина вертикальной линии */
    top: 0;
    left: 50%; /* горизонтальное выравнивание по центру */
    transform: translateX(-50%);
}
.mainTitle{
    font-size: 36px;
}
.subMainTitle{
    text-align: right;
}
.mainTitleBlock{
    padding: 0 20px;
    margin-top: -70px;
    margin-bottom: 20px;
}
.name{
    margin-left: 40px;
    padding-top: 70px;
}
.text-16px{
    font-size: 16px;
}
.helloText{
    padding: 15px 0;
    
    font-weight: 500;
}
.helloInnerText{
    padding-top: 10px ;
}
.list{
    background: #d4668794;
    border-radius: 15px;
    padding: 10px 20px;
}
.list_item{
    padding: 5px 10px;
}
.img{
    width: 300px;
    height: 350px;
    border-radius: 16px;
}
.helloText_block{
    border-radius: 15px;
    padding: 10px 20px;
    background: #d4668794;
}
.img-slider{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.textCourse{
    text-align: center;
}
.smallTextCourse{
    text-align: center;
    padding-bottom: 20px;
}
.section{
    padding: 20px 0;
}
.sectionImg{
    padding: 20px 0;
    margin-top: -20px
}
.imgBlock{
    text-align: center;
    background: #d4668794;
    padding: 20px ;
    margin-top: 20px;
    border-radius: 15px;
}
.card{
    background: #d4668794;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 20px 0;
}
.cardTitle{
    padding: 10px 0;
}
.sublist{
    padding-bottom: 20px;
}
.price{
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    margin-top: 10px;
    text-align: right;
}
.btn{
    text-align: center;
    background: #b21049;
    border-radius: 20px;
    padding: 12px 0;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}
.allLi{
    padding: 5px 0;
}
.question{
    padding-bottom: 10px;
}
.btn2{
    text-align: center;
    background: #b21049;
    border-radius: 20px;
    padding: 12px 0;
    width: 150px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}
.btnBlock{
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.slick-dots li button:before {
    font-size: 10px;
    color: #ffffff;
}

.slick-dots li.slick-active button:before {
    color: #ffffff;
}
.sliderPrice{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #ffffff;
    margin-top: 10px;
}